@use "../style/tokens";
@use "../style/fonts";

$base: ".my-day";

#{$base} {
  display: grid;
  gap: 32px;
}

#{$base}__title {
  @include fonts.title-lg;
}

#{$base}__run-result {
  font-family: monospace;
  white-space: pre;
  font-size: 2rem;
}

#{$base}__parts {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

#{$base}__part {
  border: 2px solid tokens.$color-accent-strong;
  border-radius: 4px;
  padding: 32px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 16px;
}

#{$base}__part-title {
  @include fonts.caption();
  background-color: tokens.$color-bg;
  color: tokens.$color-accent-strong;
  padding: 0 8px;
  position: absolute;
  line-height: 16px;
  transform: translate(-8px, -42px);
}

#{$base}__part-desc {
  font-size: 1rem;
}

#{$base}__test-result {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(11em, auto));
  row-gap: 8px;
  justify-items: start;
  align-content: start;
}

#{$base}__data {
  font-family: monospace;
  max-width: 25vw;
  overflow: hidden;
  white-space: pre;
}

#{$base}__testline {
  font-family: monospace;
  &--is-success {
    color: tokens.$color-green;
  }
  &--is-fail {
    color: tokens.$color-red;
  }
}
