@use "./style/tokens";

.my-app {
  font-family: Source Sans Pro;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0 auto;
  padding: 0 64px;
  max-width: 960px;
  gap: 32px;
}
