@use "style/tokens";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap");

html {
  background-color: tokens.$color-bg;
  color: tokens.$color-fg;
}

body {
  margin: 0;
}

p {
  font-size: 0.9em;
}

a {
  color: tokens.$color-accent-strong;
  &:visited {
    color: tokens.$color-accent-strong;
  }
}
